<h1>Create new user</h1>
<%= render partial: "shared/errors" %>
<br>
<form action="<%= users_url%>" method="POST">
<%= auth_token %>
<label for="username">Username</label>
<input type="text" name="user[username]" id="username" value="<%= @user.username %>">
<label for="password">Password</label>
<input type="password" name="user[password]" id="password">

<input type="submit" name="Create">
</form>
<br>
<a href="<%= new_session_url %>">Route to Login page</a>
